
@{
    ViewBag.Title = "Личный кабинет";
}

<div id="app"></div>
@Html.Partial("~/Views/Managment/View.cshtml")
@Html.Partial("~/Views/Managment/Edit.cshtml")
@Html.Partial("~/Views/Managment/ListView.cshtml")

@Scripts.Render("~/bundles/kendoSpa")